<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MarketPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    
</head>
<body>
    <svg style="display:none;" xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-sort" viewBox="0 0 24 24">
        <polyline
            points="6 15 12 9 18 15"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </symbol>
    </svg>

<header>
    <h1>MarketPulse</h1>
    <button class="toggle-btn" onclick="toggleTheme()">Toggle Theme</button>
</header>

<main>
    <div id="stock-cards" class="grid"></div>
    <!-- <div class="date-filter">
        <label>
            From:
            <input type="date" id="fromDate">
        </label>

        <label>
            To:
            <input type="date" id="toDate">
        </label>

        <button id="applyDateFilterBtn">Apply</button>
        <button  id="resetDateFilterBtn">Reset</button>

    </div> -->
    <div id="history-table"> 
        

        <table class="history-table">
            <thead>
                <tr>
                    <th>Stock
                        <svg class="sort-icon" data-sort="stock_name" width="21" height="21">
                            <use href="#icon-sort"></use>
                        </svg>
                    </th>
                   
                     <th>
                        Called On
                        <svg
                            id="calledOnFilterIcon"
                            class="filter-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="14"
                            height="14"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <polygon points="22 3 2 3 10 12 10 19 14 21 14 12 22 3"/>
                        </svg>

                        <!-- Filter Popup -->
                        <div class="filter-popup" id="calledOnFilterPopup">
                            <div class="popup-row">
                                <label>From</label>
                                <input type="date" id="calledOnFrom">
                            </div>

                            <div class="popup-row">
                                <label>To</label>
                                <input type="date" id="calledOnTo">
                            </div>

                            <div class="popup-actions">
                                <button id="applyCalledOnFilter">Apply</button>
                                <button id="resetCalledOnFilter">Reset</button>
                            </div>
                        </div>
                    </th>

                    <th>Called At</th>
                    <th>Sold At</th>
                    <th>Profit (%) 
                        <svg class="sort-icon" data-sort="pct_profit" width="21" height="21">
                            <use href="#icon-sort"></use>
                        </svg>
                    </th>
                    <th>Stop Loss</th>
                    <th>Period
                        <svg class="sort-icon" data-sort="holding_week" width="21" height="21">
                            <use href="#icon-sort"></use>
                        </svg>
                        
                    </th>
                    <th>Status
                        <svg class="sort-icon" data-sort="call_status" width="21" height="21">
                            <use href="#icon-sort"></use>
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody id="history-table-body"></tbody>
        </table>
        <!-- pagination -->

        <div class="pagination-container">
            <div class="page-size">
                Show
                <select id="pageSizeSelect">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
                entries
            </div>

            <div class="pagination">
                <button id="prevPage">Prev</button>
                <div id="pageNumbers"></div>
                <button id="nextPage">Next</button>
            </div>
        </div>


    </div>
</main>

<script src="/static/js/dashboard.js"></script>
<script src="/static/js/history_table.js"></script>

</body>
</html>